version: '3.9'
x-kong-config:

  KEYCLOAK_ADMIN: admin
  KEYCLOAK_ADMIN_PASSWORD: admin
  KC_HEALTH_ENABLED: true
  KC_DB: postgres
  KC_DB_USERNAME: keycloak
  KC_DB_PASSWORD: keycloak
  KC_DB_SCHEMA: public
  KC_DB_URL_DATABASE: keycloak
  KC_DB_URL_HOST: db

volumes:
  keycloakdb:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/samarthnigam/dbDataFolders/postgres/keycloakdb

networks:
  keycloak-net:
    external: false
  local_sams_shared_testing_network:
    external: true

services:
  db:
    image: 'postgres'
    container_name: keycloak-postgres-db
    environment:
      POSTGRES_DB: '${KC_DB_SCHEMA:-keycloak}'
      POSTGRES_USER: '${KC_DB_USERNAME:-keycloak}'
      POSTGRES_PASSWORD_FILE: /run/secrets/keycloak_postgres_password
      PGDATA: /var/lib/postgresql/data/pgdata
    secrets:
      - keycloak_postgres_password
    ports:
      - '5432:5432'
    healthcheck:
      test: [ "CMD", "pg_isready", "-d", "${KC_DB_SCHEMA:-keycloak}", "-U", "${KC_DB_USERNAME:-keycloak}" ]
      interval: 30s
      timeout: 30s
      retries: 3
    restart: 'no'
    stdin_open: true
    tty: true
    #network_mode: host
    networks:
      - local_sams_shared_testing_network
    volumes:
      - 'keycloakdb:/var/lib/postgresql/data'
      - '/home/samarthnigam/projects/docker-keycloak/keycloak-init-user-db.sh:/docker-entrypoint-initdb.d/keycloak-init-user-db.sh'

  keycloak:
    container_name: keycloak
    depends_on:
      db:
        condition: service_healthy
    ports:
      - '8081:8080'
      - '9000:9000'
    secrets:
      - keycloak_postgres_password
    environment:
      - KC_LOG=console
      - KC_LOG_CONSOLE_LEVEL=info
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_HEALTH_ENABLED=true
      - KC_DB=postgres
      - KC_DB_USERNAME=keycloak
      - KC_DB_PASSWORD=keycloak
      - KC_DB_SCHEMA=public
      - KC_DB_URL_DATABASE=keycloak
      - KC_DB_URL_HOST=db
      - KC_DB_URL=jdbc:postgresql://keycloak-postgres-db:5432/keycloak?connectTimeout=1&hostRecheckSeconds=2&socketTimeout=600&targetServerType=primary
      - KEYCLOAK_DB_CONNECTION_TIMEOUT=60000
      - KEYCLOAK_DB_POOL_MIN=10
      - KEYCLOAK_DB_POOL_MAX=50

      - KC_METRICS_ENABLED=true
      - KEYCLOAK_INFINISPAN_CONFIG_FILE=/opt/keycloak/conf/infinispan.xml
      - KC_HTTP_MANAGEMENT_PORT=9000
    image: 'quay.io/keycloak/keycloak:26.4.6'
    command: start-dev --spi-theme-static-max-age=-1 --spi-theme-cache-themes=false --spi-theme-cache-templates=false
    networks:
      - local_sams_shared_testing_network
    volumes:
      - '/home/samarthnigam/projects/docker-keycloak/config:/opt/keycloak/conf'
      - '/home/samarthnigam/projects/docker-keycloak/themes:/opt/keycloak/themes'

  adminer:
    container_name: adminer
    image: adminer
    restart: 'no'
    ports:
      - 8080:8080
    #network_mode: host
    networks:
      - local_sams_shared_testing_network

secrets:
  keycloak_postgres_password:
    file: /home/samarthnigam/projects/docker-keycloak/POSTGRES_PASSWORD
